.CircleItem {
  width: 200px;
  height: 40px;
  border-radius: 15px;
  border: 3px dotted #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.CircleItem:hover {
  background-color: #f0f0f0;
}

.CircleItemIcon {
  font-size: 20px;
  vertical-align: middle;
}

.CircleItemText {
  margin-left: 8px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  
  z-index: 1000;
}

.modal {
  width: 40%; 
  height: 70%; 
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  background-color: white;
  cursor: default;
  z-index: 1000;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
  background-color: #5d6481;
  border-top-left-radius: 18px; 
  border-top-right-radius: 18px; 
  z-index: 1000;
}

.modal-content {
  padding: 20px;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  z-index: 1000;
}

.nameField,
.descriptionTextArea,
.dateField,
.selectField {
  width: 300px; 
  margin-bottom: 20px;
  z-index: 1000;
}

.descriptionTextArea textarea {
  width: calc(100% + 20px) !important;
  height: 100px;
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  z-index: 1000;
}

.nameField input,
.descriptionTextArea textarea,
.dateField input,
.selectField select {
  width: calc(100% - 20px); 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  z-index: 1000;
}

.error {
  color: red;
  margin-bottom: 10px;
  z-index: 1000;
}

.modal-title {
  font-size: 20px;
  margin: 0;
  z-index: 1000;
}

.exit-button {
  background-color: transparent;
  border: none;
  color: #f0eaea;
  font-size: 18px;
  cursor: pointer;
  z-index: 1000;
}

.exit-button:hover {
  color: #0c0f03;
  z-index: 1000;
}

.submitButton {
  background-color: #5d6481;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000;
}

.submitButton:hover {
  background-color: #3f4257;
}

.modal-container-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  
  z-index: 1000;
}

.modal-view {
  width: 70%; 
  height: 70%; 
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  background-color: white;
  cursor: default;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.modal-header-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
  background-color: #5d6481;
  border-top-left-radius: 18px; 
  border-top-right-radius: 18px; 
}

.modal-content-view {
  display: flex;
  flex: 1; 
}

.modal-task-details {
  flex: 7; 
  padding: 20px;
  border-right: 1px solid #ccc; 
}

.modal-activity {
  flex: 3; 
  padding: 20px;
  overflow-y: auto;
  background-color: #f3f4f6;
}

.modal-task-details {
  border-right: 1px solid #ccc; 
  word-wrap: break-word;
}

.modal-activity {
  overflow-y: auto;
}

.field-activity-title {
  margin-top: 0;
}

.activity-item {
  margin-bottom: 20px; 
}

.description-container {
  max-width: 400px; 
}

.description-info {
  display: flex;
}
.label {
  display: flex;
  margin-bottom: 15px;
  flex: 1;
  align-items: center;
}

.value {
  margin-bottom: 15px;
  flex: 2;
  font-weight: bold;
}

.description {
  margin-bottom: 10px;
  margin-top: 70px;
  font-weight: bold;
  font-size: 20px;
}

